trunk/sf/CS2041/XML/bib_doc_inital.dtd

<!--This doc type will validate the XML file given, I know it could be extended -->
<!DOCTYPE bib [

<!ELEMENT bib (book+)>

<!ELEMENT book(title, author*, publisher, price, editor?)>
<!ATTLIST book year NMTOKEN #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT author (first+, surname)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT surname (#PCDATA)>

<!ELEMENT publisher (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ELEMENT editor (author, affiliation)>
<!ELEMENT affiliation (#PCDATA)>

]>
