trunk/sf/CS2041/XML/bibTask3.dtd

<!ELEMENT AFFILIATION ( #PCDATA ) >

<!ELEMENT AUTHOR ( first, last ) >

<!ELEMENT BIB ( book+ ) >

<!ELEMENT BOOK ( AUTHOR | EDITOR | PRICE | PUBLISHER | TITLE | YEAR )* >

<!ELEMENT DOLLARSUS ( #PCDATA ) >

<!ELEMENT EDITOR ( FIRST, LAST, AFFILIATION ) >

<!ELEMENT EURO ( #PCDATA ) >

<!ELEMENT FIRST ( #PCDATA ) >

<!ELEMENT LAST ( #PCDATA ) >

<!ELEMENT PRICE ( dollarsUS, euro ) >

<!ELEMENT PUBLISHER ( #PCDATA ) >

<!ELEMENT TITLE ( #PCDATA ) >

<!ELEMENT YEAR ( #PCDATA ) >

